/* === BUTTON === */
.btn {
	border: {
		style: solid;
		width: 2px;
	}
	display: inline-block;
	font: 1rem/2.5 $font-family;
	min-width: 12em;
	overflow: hidden;
	padding: 0 .705em;
	position: relative;
	text: {
		align: center;
		transform: uppercase;
	}
	transition: transform .2s cubic-bezier(0.215, 0.61, 0.355, 1),
				background-color .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	vertical-align: middle;

	&::after {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: translateX(-100%);
		transition: transform .2s cubic-bezier(0.075, 0.820, 0.165, 1.000);
		width: 100%;
	}

	&--sec {
		&::after {
			background-color: $transparent-5;
		}
	}

	&--main {
		background-color: $orange;
		border-color: $orange;
		color: $white;

		&::after {
			background: $white-transparent-25;
		}
	}

	&--full {
		display: block;
		width: 100%;
	}

	&--share {
		border: 0 none;
		color: $white;
		min-width: 20em;
	}

	&--rounded {
		border-radius: 100%;
		color: $white;
		display: inline-block;
		height: 3em;
		line-height: 3;
		margin: 0 0.5em;
		position: relative;
		text-align: center;
		transition: none;
		width: 3em;

		.icon {
			height: 0.75em;
			width: 0.75em;
		}
	}

	&--fb {
		background-color: $blue;
	}

	&--tw {
		background-color: $cyan;
	}

	&--pint {
		background-color: $red;
	}

	&:active {
		transform: scale(0.9);
	}

	&-wrapper {
		&--center {
			text-align: center;
		}
	}
}
