/* === COLORS === */
// Basic
$black: #000;
$blue: #3B5997;
$blue-dark: #212428;
$cyan: #00ACEE; 
$grey: #9A9A9A;
$grey-light: #F2F2F2;
$orange: #F89F1C;
$red: #BD081C;
$white: #FFF;
$yellow: #FF0;

// Transparency
$transparent-0: rgba(0, 0, 0, 0);
$transparent-2: rgba(0, 0, 0, .2);
$transparent-4: rgba(0, 0, 0, .4);
$transparent-5: rgba(0, 0, 0, .5);
$transparent-6: rgba(0, 0, 0, .6);
$transparent-7: rgba(0, 0, 0, .7);
$white-transparent-25: rgba(255, 255, 255, .25);
$white-transparent-4: rgba(255, 255, 255, .4);
$white-transparent-8: rgba(255, 255, 255, .8);