/* === FORM === */
::-webkit-input-placeholder {
	color: $grey;
}

::-moz-placeholder {
	color: $grey;
}

:-ms-input-placeholder {
	color: $grey;
}

::-ms-input-placeholder {
	color: $grey;
}

textarea {
	min-height: 200px;
}

select.form__el {
	appearance: none;
	background: url("../../img/arrow.svg") no-repeat right center;
	background-origin: content-box;
	background-size: 18px;
	padding-right: 0.5em;
}

::-ms-expand {
	display: none;
}

[type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.form{
	&-wrapper {
		overflow: hidden;
		position: relative;
	}

	&__el {
		border: 1px solid;
		color: $grey;
		display: block;
		padding-left: .5em;
		transition: box-shadow .3s,
					border-color .3s;
		width: 100%;

		&:focus {
			box-shadow: inset 0 -2px 0 $grey;
			outline: 0;
		}

		&:not(textarea) {
			line-height: 2.5;
			height: 2.5em;
		}
	}

	&__reponse {
		left: 50%;
		opacity: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__upload{
		appearance: none;
		background-color: $transparent-0;
		border: 0 none;
		color: $orange;
		display: block;
		opacity: 0;
		transition: opacity .25s cubic-bezier(0.860, 0.000, 0.070, 1.000);
		width: 100%;

		&::-webkit-progress-bar,
		&::-moz-progress-bar {
			background-color: $transparent-0;
			border: 0 none;
		}

		&::-webkit-progress-value {
			background-color: $orange;
			transition: width 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
		}

		&.is-visible {
			opacity: 1;
		}
	}

	&__row {
		> .layout__item {
			margin-bottom: 1em;
		}
	}
}


input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
	box-shadow: inset 0 0 0 100px $white;
}

.checkbox::before {
	background: url("../../img/flag.svg") no-repeat center center;
	background-size: 0;
	content: "";
	border: 1px solid $grey;
	display: inline-block;
	height: 2em;
	margin-right: 1em;
	vertical-align: middle;
	transition: background-size .2s cubic-bezier(1.000, 0.000, 0.000, 1.000);
	width: 2em;
}

:checked + .checkbox::before {
	background-size: 80%;
}

label[for="project-upload"]:active {
	transform: scale(0.9);
}

.error {
	border-color: $yellow !important
}

.privacy {
	color: $blue-dark;
	font-size: .75rem;
	opacity: 0;
	transform: scale(0.9);
	transition: opacity .2s,
				transform .5s;

	& > p {
		margin: .35em 0;
	}

	&.is-visible {
		opacity: 1;
		transform: scale(1);
	}
	
	&__heading {
		font-size: .75rem;
		margin-bottom: .5em;
	}
}
