/* === HERO === */
.svg-wrapper,
.shape-wrapper {
	position: absolute;
}

.hero__media {
	max-width: 40%;
	left: 50%;
	top: 50%;
}

.shape-wrapper,
.shape {
	width: 100%;
	height: 100%;
}

.svg-wrapper {
	top: 0;
	left: 10%;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
}

.shape {
	stroke-dasharray: 140 1290;
	stroke-dashoffset: -474;
	stroke-width: 0.75rem;
	fill: transparent;
	stroke: $orange;
	-webkit-transition: stroke-dashoffset 1s,
	stroke-dasharray 1s;
	transition: stroke-dashoffset 1s,
	stroke-dasharray 1s;
}

.svg-wrapper.is-visible .shape {
	stroke-dashoffset: 0;
	stroke-dasharray: 1290;
}
