/* === MAIN SLIDER === */
.slider-wrapper {
	height: calc(100vh - 78px);
	position: relative;
}

.slider__head {
	max-width: 75%;
	position: absolute;
	left: 10%;
	top: 50%;
	z-index: 2;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: $white-transparent-4;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slider__head__el {
	opacity: 0;
	-webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -22);
	transform: matrix(0.5, 0, 0, 0.5, 0, -22);
}

.slider__el {
	width: 100%;
	height: 100%;
	opacity: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: opacity 1.5s ease-out;
	transition: opacity 1.5s ease-out;
}

.slider__media {
	visibility: hidden;
}
