/*! (custom) normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	box-sizing: border-box
}

*, :after, :before {
	box-sizing: inherit
}

body, figure {
	margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
	-webkit-transition: all .2s;
	transition: all .2s
}

a:active, a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0
}

mark {
	background: $yellow;
	color: $black
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

pre {
	overflow: auto
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	border: 0 none;
	background-color: transparent;
}

button, select {
	text-transform: none
}

html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}

td, th {
	padding: 0
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle
}

iframe, img, object, video {
	max-width: 100%
}

iframe, object, video {
	display: block;
	width: 100%;
}

:-moz-ui-invalid {
	box-shadow: none
}

@-webkit-keyframes spinner {
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@keyframes spinner {
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@-webkit-keyframes fave-heart {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2800px 0;
	}
}

@keyframes fave-heart {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2800px 0;
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
