/* === PAGE ELEMENTS === */
.main-content {
	overflow: hidden;
}

.main-content::after {
	content: "";
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -1;
	right: 0;
	top: 0;
	background-color: $transparent-6;
	/*transform: scale(1.2);*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: z-index .7s linear,
	opacity 1s ease-out;
	transition: z-index .7s linear,
	opacity 1s ease-out;
}

.main-content,
.main-footer {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform .7s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	-webkit-filter .7s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.main-header,
.main-footer {
	padding: 1rem;
}

.main-header {
	color: $blue-dark;
}

.main-footer {
	color: $white;
	background-color: $blue-dark;
}

.link__deco {
	border-bottom: 1px solid;
}
