/* === PROJECT GALLERY === */
.gallery{
	$maxWidthTab: 90rem;

	margin: auto;
	max-width: $maxWidthTab;

	&__box {
		$paddingHorizontalGallery: 1em;
		$carsPerRow: 5;
		$marginGalleryBox: 1em;
		$sumMarginsGalleryBox: 1em * 2 * 5;

		border: 1px solid $grey-light;
		margin: $marginGalleryBox;
		padding: 1em;
		text-align: center;
		width: calc((#{$maxWidthTab} - #{$paddingHorizontalGallery} - #{$sumMarginsGalleryBox}) / #{$carsPerRow} );

		&__heading{
			&--main {
				font-size: .9em;
				font-weight: normal;
				margin: 1.5em 0 0;
				text-transform: uppercase;
			}

			&--secondary {
				margin: .5em 0;
			}
		}

		&__car-id {
			font-size: .8em;
			margin: 0;
		}
	}

	&__boxes {
		margin: 3em 0;

		.gallery__el {
			opacity: 0;
		}

		.project{
			&__text {
				margin-top: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&__title {
				flex: 0;
			}
		}
	}

	&__paging {
		text-align: center;

		&__cmd {
			font-family: $font-family;
			margin: auto .25em;
			padding: 0 .25em;
	
			&--symbol {
				font-size: 2em;
				line-height: .5;
				vertical-align: sub;
			}
	
			&.is-active {
				border-bottom: 2px solid;
			}
		}
	}

	&__el {
		background-color: $grey-light;
		border: 1px solid $grey;
		margin: auto .5em;
		padding: .25em;
		z-index: 1;
		transform: scale(1);
		transition: transform .25s cubic-bezier(0.860, 0.000, 0.070, 1.000);

		&::before {
			backface-visibility: hidden;
			bottom: 0;
			box-shadow: 0 0 2em $transparent-2;
			content: "";
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
			transform: scale(0.8);
			transition: transform .1s cubic-bezier(0.860, 0.000, 0.070, 1.000),
						opacity .5s;
		}
	}
}

.project {
	background-color: inherit;
	cursor: pointer;

	&__actions {
		background-color: inherit;
		font-size: .825rem;
		text-align: right;
	}

	&__desc {
		padding: 1em 1em 0 1em;
	}

	&__head {
		color: $orange;
		font-family: $font-family;
	}

	&__icon {
		background: url("../../img/heart.png") no-repeat 0 0;
		height: 50px;
		margin-left: calc(-50px + 2em);
		margin-right: calc(-50px + 1.25em); /* half width + parent's padding */
		overflow: hidden;
		width: 100px;
		/*transition: transform .3s cubic-bezier(1.000,  0.000, 0.000, 1.000);*/

		&.is-selected {
			animation: fave-heart 1s steps(28) forwards;
		}
	}

	&__likes,
	&__icon {
		display: inline-block;
		vertical-align: middle;
	}

	&__likes__amount::after {
		content: "\00a0";
		white-space: pre;
	}

	&__media {
		display: block;
		margin: auto;
	}

	&__title {
		color: $blue-dark;
		display: none;
		text-align: right;
	}
}

.do-share {
	display: none;

	&__wrapper {
		margin-right: 1em;
		position: relative;
	}
}
