/* === TABS === */
.tabs {
	background-color: $white-transparent-8;
	position: relative;
}

.tabs__cmds {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.tabs__cmd {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-family: $font-family;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	-webkit-transition: background .2s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	color .4s .1s cubic-bezier(1.000, 0.000, 0.000, 1.000);
	transition: background .2s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	color .4s .1s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.tabs__cmd::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 2px solid $blue-dark;
	-webkit-transform: scaleX(0.4);
	transform: scaleX(0.4);
	-webkit-transition: border-color .5s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	-webkit-transform .3s cubic-bezier(1.000, 0.000, 0.000, 1.000);
	transition: border-color .5s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	-webkit-transform .3s cubic-bezier(1.000, 0.000, 0.000, 1.000);
	transition: border-color .5s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	transform .3s cubic-bezier(1.000, 0.000, 0.000, 1.000);
	transition: border-color .5s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	transform .3s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	-webkit-transform .3s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.tabs__cmd.is-selected {
	color: $orange;
	background-color: $white;
}

.tabs__cmd.is-selected::before {
	border-top-color: $transparent-0;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.tabs__cmd.is-selected .tabs__icon {
	stroke-width: 0;
	stroke-dashoffset: 0;
	fill: currentColor;
}

.tabs__cmd > svg {
	display: block;
	height: auto;
	margin: auto;
}

.tabs__icon {
	stroke: currentColor;
	stroke-width: 2px;
	fill: transparent;
	-webkit-transition: stroke-dashoffset 3s 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	stroke-width .3s,
	fill .3s;
	transition: stroke-dashoffset 3s 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000),
	stroke-width .3s,
	fill .3s;
}

.tabs__icon.is-loaded {
	stroke-dashoffset: 0;
}

.tabs__icon--partecipate {
	stroke-dasharray: 860;
	stroke-dashoffset: 860;
}

.tabs__icon--gallery {
	stroke-dasharray: 490;
	stroke-dashoffset: 490;
}

.tabs__icon--showcase {
	stroke-dasharray: 335;
	stroke-dashoffset: 335;
}

.tabs__title {
	display: block;
	margin-bottom: 0.5em;
}

.tabs__content {
	display: none;
	width: 100%;
	padding: 2em 1em;
}

.tabs__content .layout__item {
	min-width: 0;
}
